/*#controls {
  width: 500px;     
  padding: 20px;
  background: #ddd;
  border: 1px solid #999;
  margin-top: 10px; 
  margin-left: auto; 
  margin-right: auto; 
  text-align: center;  
}

button {
 padding: 10px;
 margin: 0 10px 10px 0;  
 background: #eee;
 border: 1px solid #aaa;
 cursor: pointer; 
}

#brightnessSlider {
 width: 200px;
}
img {
 max-width: 500px;
 border: 1px solid #ccc;   
 margin-top: 10px;
}*/

/* Styles for Image */

/* Styles for Image Input and Text */
h1 {
  text-align: center; /* Center the heading text */
}

/* Styles for Image Input */
input[type="file"] {
  display: block;
  margin: 20px auto 0;
}

/* Rest of your existing styles */

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; /* Center the image horizontally */
  border: 1px solid #ccc;
  margin-top: 10px;
}


/* Styles for Buttons and Slider */
button {
  display: inline-block;
  padding: 10px;
  margin: 0 10px 10px 0;
  background: #eee;
  border: 1px solid #aaa;
  cursor: pointer;
}

#brightnessSlider {
  width: 200px;
  display: block;
  margin: 0 auto; /* Center the slider horizontally */
}

/* Styles for Effect Buttons Box */
#controls {
  width: 500px;
  padding: 20px;
  background: #ddd;
  border: 1px solid #999;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  
}

body {
  background-color: #3636365d; /* Set your desired background color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.dropdown-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999; /* Ensure it's above other elements */
}

/* Dropdown styles */
.dropdown-container select {
  font-size: 16px;
  padding: 8px;
}

/* Grid container styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 800px;
  margin: 20px auto;
  position: relative; /* Ensure relative positioning for absolute children */
}

/* Box styles */
.box {
  width: 200px;
  height: 200px;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
      width: 90%; /* Adjusted width for smaller screens */
  }
  
  .box {
      width: calc(50% - 10px); /* Adjusted box width for smaller screens */
      height: 150px; /* Adjusted box height for smaller screens */
  }
}


