body {
  margin: 0;
  height: 1000px; 
  background-color: black;
}

#lightbulb {
  position: fixed;
  top: 100px;
  left: 100px; 
}

#lightbulb img {
  width: 100px;
  transition: filter 1s;  
}

#text {
  position: fixed;
  top: 250px;
  left: 150px;
  color: white;
  opacity: 0;
  transition: 1s;
}

#text h1 {
  font-size: 72px;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  position: absolute;
  width: 100%;
  top: 20%;
}

.item img {
  width: 100%;
}